* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 50px;
  background-color: orange;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
}

.blog {
  width: 90%;
  display: flex;
}


.blog-box {
  display: flex;
  flex-warp: wrap;
}

.blog-box1 {
  position: relative;
}

.blog-box1 p {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  margin: 0;
  background: orange;
  font-size: 20px;
}

.blog-box2 {
  position: relative;
}

.blog-box2 p {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  margin: 0;
  background: orange;
  font-size: 20px;
}

.blog-box3 {
  position: relative;
}

.blog-box3 p {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  margin: 0;
  background: orange;
  font-size: 20px;
}

.blog-item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  justify-content: flex-start;
  background-color: #dfd8d8;
}

.blog-item1 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  justify-content: flex-start;
  background-color: #dfd8d8;
}

.blog-image {
  width: 100%;
  height: 150px;
  padding: 10px 10px 0 10px;
}

.blog-text {
  padding: 10px;
}

.blog-text-heading {
  padding-bottom: 15px;
}

.blog-title {
  font-size: 25px;
}

.blog-date {
  font-size: 20px;
}


footer {
  width: 100%;
  height: 50px;
  background-color: #848282;
}


@media screen and (max-width:768px) {
    .blog-box {
      display: block;
      width: 100%;
  }

    .blog-item1 {
      margin-bottom: 0;
    }

}